{% extends "partials/base.html.twig" %}

{% set pageTitle = "BLOG" %}

{% block content %}
    <section class="readable-text">
        <h2>BLOG</h2>
        <div class="blog-list">
            {% for blog in blogs|reverse %}
                <div class="blog-post">
                    <h3 class="blog-title">{{ blog.title }}</h3>
                    <div class="blog-excerpt">
                        <a href="blog/{{ blog.id }}">{{ blog.content[0:80] }}...</a>
                    </div>
                    <p class="post-date">published at {{ blog.datePublished | date('H:i') }} on {{ blog.datePublished | date('Y-m-d') }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}